.InputSearch {
  width: 50%;
  grid-area: InputSearch;
}

label {
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 12px;
  border: 1px solid #cfd5db;
  border-radius: 10px;
  background: #fafafa;
  padding: 12px;
  color: #6c757d;
  cursor: text;
}

label:focus-within {
  border: 1px solid #000;
}

label > input {
  outline: none;
  border: none;
  background: transparent;
}

.AlertContainer {
  border-radius: 10px;
  color: #fafafa;
  position: fixed;
  top: 10px;
  right: 50px;
  width: 350px;
  height: 40px;
}

.AlertContent {
  margin-top: 5px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
